<% include partials/header %>
<% include partials/navbar %>

<div class='container-fluid '>
  <div class="row">

    <div class="book-wrap col-xs-12 col-sm-6 col-sm-push-3 text-center">
      <div class="thumbnail">
          <img src="/uploads/<%= book.image %>" alt="Image">
          <a  href="/uploads/<%= book.image %>">View Full Image</a>
          <div class="caption">
            <h3><a> <%= book.title %></a></h3>
              <% if(book.sold) { %>
                <h4 class=""> Sold </h4>
                    <% if(currentUser && (book.user.id).equals(currentUser._id)) { %>
                        <form action="/browse/<%= book._id %>/sold" method="GET">
                          <button type="submit"> Mark As Available </button>
                        </form>
                    <% } %>
              <% } else { %>
                <h4 class=""> Available </h4>
                    <% if(currentUser && (book.user.id).equals(currentUser._id)) { %>
                        <form action="/browse/<%= book._id %>/sold" method="GET">
                          <button type="submit"> Mark As Sold </button>
                        </form>
                    <% } %>
              <% } %>
              <p> <%= book.description %> </p>

          </div>
          <% if(currentUser && (book.user.id).equals(currentUser._id)) { %>
          <a class="btn btn-info" href="/browse/<%= book.id %>/edit"> Edit Details </a>
          <form action="/browse/<%= book._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" > Delete </button>
          </form>
          <% } %>

          <div class="info">
              <p class="pull-right"> <%= book.uploadDate.toDateString() %> </p>
              <% if(!book.postedBy) { %>
                <p class="author"> Posted By: <a href="/browse/user/<%= book.user.username %>"><%= book.user.username %></a>  </p>
              <%  } else { %>
              <p class="author"> Posted By: <%= book.postedBy %> </p>
              <%  } %>
          </div>
      </div>
    </div>

  </div>

  <div class="row text-center">
    <div class="col-xs-12">
      <a class="btn btn-default" href="/browse"> <span class=" fa fa-chevron-circle-left"></span> Back To All </a>
    </div>
  </div>
</div>


<% include partials/footer %>
